@import url('https://fonts.googleapis.com/css?family=poppins:400,500,600,700,800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #AD91A3;
}
.container
{
    width: 80%;
    padding: 20px;
}
container h2
{
    width: 100%;
    color: #000000;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}
.container .row100
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(autofit,minmax(300ox,1fr));
}
.container .row100 .col
{
    position: relative;
    width: 100%;
    padding:0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}
.container .row100 .inputbox
{
    position: sticky;
    width: 100%;
    height: 40px;
    color:#000000;
}
.container .row100 .inputbox input,
.container .row100 .inputbox.textarea textarea
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #ebf3f4; 
}
.container .row100 .inputbox .text
{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding:0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container .row100 .inputbox input:focus + .text,
.container .row100 .inputbox input:valid + .text
{
    top: -35px;
    left: -10px;
}
.container .row100 .inputbox .line
{
    position: absolute;
    bottom: 0;
    display: block;
     width: 100%;
     height: 2px;
     background: #000000;
     transition: 0.5s;
     border-radius: 2px;
     pointer-events: none;
}
.container .row100 .inputbox input:focus + .line,
.container .row100 .inputbox input:valid + .line
{
    height: 100%;
}
.container .row100 .inputbox.textarea
{
    position:-webkit-sticky;
    width: 100%;
    height: 50px;
    padding:  10px 0;
}
.container .row100 .inputbox.textarea textarea
{
    height: 100%;
    resize: none;
}
.container .row100 .inputbox textarea:focus + .text,
.container .row100 .inputbox textarea:valid + .text
{
    top: -35px;
    left: -10px;
}
.container .row100 .inputbox textarea:focus + .line,
.container .row100 .inputbox textarea:valid + .line
{
    height: 100%;
}
.col input
{
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: rgb(0, 0, 0);
    color: #fcfcff;
    font-size: 18px;
    border-radius: 4px;
}
